*{
    font-family: "Cairo";
    padding:0;
    margin: 0;
}
body{
    background-color: #609966;
    
}
.nav{
    padding-block: 10px;
    background: #9DC08B;
    display: flex;
    justify-content: center;
}
.nav a{
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    margin-inline: 1rem;
    text-decoration: none;
    color: white;
    position: relative;
}
.nav img{
    display: none;
    position: absolute;
    width: 50rem;

}
.sira img{
    left: 0;
    position: absolute;
    width: 100%;
}
.sira p{
    margin-top: 0;
    display: flex;
    position: absolute;
    align-items: center;
    align-content: center;
    z-index: 1;
    color: white;
    font-size: 3rem;
    width: 100%;
    justify-content: center;
}
.nav a::after{
    right: 0;
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    background: #b1a89c00;
    transition: 0.3s ease;
}

.nav a:hover:after{ 
    background: #EDF1D6;
}

.nav li{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
    background: #609966;
    list-style: none;
}
.mid{
    padding-inline: 10px;
    border-inline: 2px solid #EDF1D6;
}
@media screen and (max-width: 433px){
    .nav li {
        overflow: hidden;
        gap: 3rem;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 40%;
        background-color: #609966;
        justify-content: center;
        align-items: center;
    }
    .nav a{
        background-image: image("—Pngtree—luxury mandala golden transparent background_5996759.png");
        border: none;
    }
    .nav img{
        display: block;
        position: absolute;
        width: 50rem;
    
    }
}


#countr{
    text-shadow: 0px 3px 3px #060606;
    border: 5px solid #FAE7C9;
    text-align: center;
    font-weight: bold;
    border-radius: 10rem;
    padding: 1rem;
    background:#B0926A;
    color: white;
    font-size: 6rem;
    font-family: auto;
    transition: 0.1s;
}

#plus{
    box-shadow: inset 0px 0px 10px #fae7c900;
    cursor: pointer;
    color: white;
    border: none;
    background: #706233;
    padding: 20px;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 900;
    transition: 0.3s ease-out;
}

.c{
    gap: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
#plus.clicked{
    box-shadow: inset 0px 0px 10px #fffbf6;
}